@import '../node_modules/bootstrap/scss/bootstrap.scss';

//Variables
$primary-color: $indigo-100;
$secondary-color: $red-500;

body {
  margin: auto;
  background-image: url('/img/books.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 700px;
}

.container {
  justify-content: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  background-color: rgba(255, 249, 239, 0.75);
  margin-top: 20px;
  box-shadow: 2px 2px 20px rgba(61, 61, 61, 0.493);

  .header {
    span {
      color: $secondary-color;
    }
  }

  .book-form input {
    display: inline-block;
  }

  .form-group {
    label {
      width: 100%;
    }
    input {
      margin-bottom: 10px;
      width: 100%;
    }
    button {
      background-color: $secondary-color;
    }
  }
}
