@import '../node_modules/bootstrap/scss/bootstrap.scss';

//Variables
$primary-color: $indigo-100;
$secondary-color: $indigo-500;

body {
  max-width: 700px;
  margin: auto;
}

.container {
  justify-content: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  background-color: $primary-color;
  margin-top: 20px;

  .header {
    span {
      color: $secondary-color;
    }
  }

  .book-form input {
    display: inline-block;
  }

  .form-group {
    label {
      width: 100%;
    }
    input {
      margin-bottom: 10px;
      width: 100%;
    }
    button {
      background-color: $secondary-color;
    }
  }
}
